:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;

  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #323238;

  background: #fff;
}

.toggle-switch {
  position: absolute;
  display: inline-block;
  width: 4.8rem;
  height: 2.4rem;

  top: 1.6rem;
  right: 3.2rem;

  border-radius: 1.2rem;
  background-color: #02799d;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.toggle-switch-circle {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;

  width: 50%;
  height: 1.6rem;

  border-radius: 2rem;
  background-color: #e1e1e6;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

  transition: transform 0.2s ease 0s;
}

.toggle-switch-circle:hover {
  cursor: pointer;
}

.toggle-switch-active {
  background-color: rgba(0, 0, 0, 0.7);

  transform: translateX(-1.8rem);
  transition: background-color 0.2s ease 0s, transform 0.2s ease 0s;
}

.dark-mode {
  background: #121214;
  color: #fff;

  transition: background 0.2s ease 0s, color 0.2s ease 0s;
}

.dark-mode .toggle-switch {
  background: #323238;
}

.dark-mode .button-play,
.dark-mode .button-pause,
.dark-mode .button-stop,
.dark-mode .button-increase,
.dark-mode .button-decrease,
.dark-mode .controls-button,
.dark-mode .feedback {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg)
    brightness(100%) contrast(100%);
}

.dark-mode .controls-button,
.dark-mode .feedback {
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25);
}

.light-mode {
  background: #fff;
  color: #323238;

  transition: background 0.2s ease 0s, color 0.2s ease 0s;
}

.container {
  display: flex;
  gap: 20rem;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer-stopwatch {
  display: flex;
  gap: 0.8rem;

  font-size: 12rem;

  margin-bottom: 1.6rem;
}

.timer_controls {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.timer-button {
  width: 4.8rem;
  height: 4.8rem;

  background: transparent;
  border: none;
}

.timer-button:hover {
  cursor: pointer;
}

.button-play {
  background: url("../img/play.svg") no-repeat center;
}

.button-pause {
  background: url("../img/pause.svg") no-repeat center;
}

.button-stop {
  background: url("../img/stop.svg") no-repeat center;
}

.button-increase {
  background: url("../img/increase.svg") no-repeat center;
}

.button-decrease {
  background: url("../img/decrease.svg") no-repeat center;
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.controls-button {
  border: 2px solid transparent;
  border-radius: 2.4rem;
  background: #e1e1e6;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  width: 13.8rem;
  height: 15.2rem;

  transition: border 0.2s ease 0s;
}

.controls-button:hover {
  border: 2px solid #02799d;
  cursor: pointer;
}

.active {
  background: #02799d;
  transition: background 0.2s ease 0s;
}

.active img[src*="svg"],
.light-mode .feedback [src*="svg"] {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg)
    brightness(100%) contrast(100%);
}

.feedback {
  position: fixed;
  bottom: 3rem;
  right: 3rem;

  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #02799d;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 6rem;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.dark-mode .feedback {
  background-color: #e1e1e6;
  color: #000000;
}

.feedback:hover {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 1.2rem 3.2rem;
  transition: all 0.2s ease 0s;
}

.feedback span {
  display: none;
}

.feedback:hover span {
  display: inline;
}

@media (max-width: 768px) {
  .container {
    max-width: 50vw;
    flex-direction: column;
    gap: 4rem;
  }
  .timer-stopwatch {
    justify-content: center;
    font-size: 10rem;
  }
  img[src*="svg"] {
    width: 3.2rem;
    height: 3.2rem;
  }
  .timer_controls {
    gap: 2.8rem;
  }
  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .controls-button {
    width: 10rem;
    height: 10rem;
  }
  .button-play,
  .button-pause,
  .button-stop,
  .button-increase,
  .button-decrease {
    background-size: 4rem;
  }

  .toggle-switch {
    top: 1.2rem;
    right: 2.4rem;
  }
}

@media (max-width: 428px) {
  .container {
    max-width: 90vw;
    gap: 2.4rem;
  }
  .timer-stopwatch {
    font-size: 8rem;
  }
  .timer_controls {
    gap: 1.6rem;
  }
  .controls {
    max-width: 70vw;
    margin-top: 2.4rem;
  }
  .controls-button {
    width: 8rem;
    height: 8rem;
  }
}
