:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;

  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #323238;

  background: #fff;
}

.container {
  display: flex;
  gap: 20rem;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer-stopwatch {
  display: flex;
  gap: 0.8rem;

  font-size: 12rem;

  margin-bottom: 1.6rem;
}

.timer_controls {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.timer-button {
  width: 4.8rem;
  height: 4.8rem;

  background: transparent;
  border: none;
}

.timer-button:hover {
  cursor: pointer;
}

.button-play {
  background: url("../img/play.svg") no-repeat center;
}

.button-pause {
  background: url("../img/pause.svg") no-repeat center;
}

.button-stop {
  background: url("../img/stop.svg") no-repeat center;
}

.button-increase {
  background: url("../img/increase.svg") no-repeat center;
}

.button-decrease {
  background: url("../img/decrease.svg") no-repeat center;
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.controls-button {
  border: none;
  border-radius: 2.4rem;
  background: #e1e1e6;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  width: 13.8rem;
  height: 15.2rem;

  transition: background 0.1s ease-in-out;
}

.controls-button:hover {
  background: #02799d;
  cursor: pointer;
}

.controls-button:hover img[src*="svg"] {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg)
    brightness(100%) contrast(100%);
}

.active {
  background: #02799d;
}

.active img[src*="svg"] {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg)
    brightness(100%) contrast(100%);
}
